<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head") %>

    <body class="text-center">

        <%- include ("../partials/nav") %>

            <header id='home-section'>
                <div class='dark-overlay'>
                    <div class='home-inner'>
                    </div>
                </div>
                </div>
            </header>
            <!-- summery part -->
            <div class="container-fluid text-center" id="summery-container">
                <%- include ("../partials/content")%>
            </div>
            <!-- table part -->
            <div class="container-fluid text-center" id="table-container">
                <%- include ("../partials/table")%>
            </div>

            <%- include ("../partials/footer") %>

                <%- include ("../partials/jsScript") %>

    </body>


</html>